<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Trip date', 'Average MPG', 'Average speed'],
          ['03/10/2014',  44,      55],
          ['03/12/2014',  46,      56],
          ['03/13/2014',  42,       66],
          ['03/14/2014',  55,      54],
          ['03/15/2014',  46,       66],
          ['03/16/2014',  57,      22],
          ['03/17/2014',  48,       66],
          ['03/18/2014',  51,      57]
        ]);

        var options = {
          title: 'Average MPG vs Average speed',
          hAxis: {title: 'Date', titleTextStyle: {color: 'Black'}}
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>